In [1]:
import pandas as pd
from sqlalchemy import create_engine
import numpy as np

### Store CSV into DataFrame

In [2]:
airlines = "../ETL-Project/Resources/airlines.csv"
airlines_df = pd.read_csv(airlines)
airlines_not_null = airlines_df.dropna()
airlines_not_null['Airline ID'] = airlines_not_null['Airline ID'].astype(str)
airlines_not_null.head()

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

,Airline ID,Name,Alias,IATA,ICAO,Callsign,Country,Active
3,3,1Time Airline,\N,1T,RNX,NEXTIME,South Africa,Y
10,10,40-Mile Air,\N,Q5,MLA,MILE-AIR,United States,Y
13,13,Ansett Australia,\N,AN,AAA,ANSETT,Australia,Y
15,15,Abelag Aviation,\N,W9,AAB,ABG,Belgium,N
21,21,Aigle Azur,\N,ZI,AAF,AIGLE AZUR,France,Y

In [3]:
routes = "../ETL-Project/Resources/routes.csv"
routes_df = pd.read_csv(routes)
routes_not_null = routes_df.loc[(routes_df['Airline ID'] != '/N')]
routes_not_null['Airline ID'] = routes_df['Airline ID'].astype(str)
routes_not_null

,Airline,Airline ID,Source airport,Source airport ID,Destination airport,Destination airport ID,Codeshare,Stops,Equipment
0,2B,410,AER,2965,KZN,2990,NaN,0,CR2
1,2B,410,ASF,2966,KZN,2990,NaN,0,CR2
2,2B,410,ASF,2966,MRV,2962,NaN,0,CR2
3,2B,410,CEK,2968,KZN,2990,NaN,0,CR2
4,2B,410,CEK,2968,OVB,4078,NaN,0,CR2
...,...,...,...,...,...,...,...,...,...
67658,ZL,4178,WYA,6334,ADL,3341,NaN,0,SF3
67659,ZM,19016,DME,4029,FRU,2912,NaN,0,734
67660,ZM,19016,FRU,2912,DME,4029,NaN,0,734
67661,ZM,19016,FRU,2912,OSS,2913,NaN,0,734
67662,ZM,19016,OSS,2913,FRU,2912,NaN,0,734

In [4]:
combined_airline_routes = pd.merge(airlines_not_null, routes_not_null, on='Airline ID')
combined_airline_routes.head()

,Airline ID,Name,Alias,IATA,ICAO,Callsign,Country,Active,Airline,Source airport,Source airport ID,Destination airport,Destination airport ID,Codeshare,Stops,Equipment
0,10,40-Mile Air,\N,Q5,MLA,MILE-AIR,United States,Y,Q5,CKX,\N,TKJ,7235,NaN,0,CNA
1,10,40-Mile Air,\N,Q5,MLA,MILE-AIR,United States,Y,Q5,FAI,3832,HKB,7242,NaN,0,CNA
2,10,40-Mile Air,\N,Q5,MLA,MILE-AIR,United States,Y,Q5,HKB,7242,FAI,3832,NaN,0,CNA
3,10,40-Mile Air,\N,Q5,MLA,MILE-AIR,United States,Y,Q5,TKJ,7235,CKX,\N,NaN,0,CNA
4,21,Aigle Azur,\N,ZI,AAF,AIGLE AZUR,France,Y,ZI,AAE,220,MRS,1353,NaN,0,319

In [5]:
airports = "../ETL-Project/Resources/airports.csv"
airports_df = pd.read_csv(airports)
airports_not_null = airports_df.dropna()
airports_not_null ['Airport ID'] = airports_not_null['Airport ID'].astype(str)
airports_not_null_source = pd.DataFrame({'Source airport ID': airports_not_null['Airport ID'],
                                  'Source Airport Name':airports_not_null['Name'],
                    'Source Country': airports_not_null['Country']})

airports_not_null_destination = pd.DataFrame({'Destination airport ID': airports_not_null['Airport ID'],
                    'Destination Airport Name':airports_not_null['Name'],
                    'Destination Country': airports_not_null['Country']})

airports_not_null_destination

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

,Destination airport ID,Destination Airport Name,Destination Country
0,1,Goroka Airport,Papua New Guinea
1,2,Madang Airport,Papua New Guinea
2,3,Mount Hagen Kagamuga Airport,Papua New Guinea
3,4,Nadzab Airport,Papua New Guinea
4,5,Port Moresby Jacksons International Airport,Papua New Guinea
...,...,...,...
7693,14106,Rogachyovo Air Base,Russia
7694,14107,Ulan-Ude East Airport,Russia
7695,14108,Krechevitsy Air Base,Russia
7696,14109,Desierto de Atacama Airport,Chile
7697,14110,Melitopol Air Base,Ukraine

In [6]:
combined_airline_routes_airports = pd.merge(combined_airline_routes, airports_not_null_source, on='Source airport ID')

combined_airline_routes_airports_all = pd.merge(combined_airline_routes_airports, airports_not_null_destination, on='Destination airport ID')

combined_airline_routes_airports_all

,Airline ID,Name,Alias,IATA,ICAO,Callsign,Country,Active,Airline,Source airport,Source airport ID,Destination airport,Destination airport ID,Codeshare,Stops,Equipment,Source Airport Name,Source Country,Destination Airport Name,Destination Country
0,10,40-Mile Air,\N,Q5,MLA,MILE-AIR,United States,Y,Q5,FAI,3832,HKB,7242,NaN,0,CNA,Fairbanks International Airport,United States,Healy River Airport,United States
1,55,Astral Aviation,\N,8V,ACP,ASTRAL CARGO,Kenya,Y,8V,FAI,3832,AET,6839,NaN,0,CNC,Fairbanks International Airport,United States,Allakaket Airport,United States
2,55,Astral Aviation,\N,8V,ACP,ASTRAL CARGO,Kenya,Y,8V,BTT,3417,AET,6839,NaN,0,CNC,Bettles Airport,United States,Allakaket Airport,United States
3,55,Astral Aviation,\N,8V,ACP,ASTRAL CARGO,Kenya,Y,8V,FAI,3832,AKP,6712,NaN,0,PAG,Fairbanks International Airport,United States,Anaktuvuk Pass Airport,United States
4,55,Astral Aviation,\N,8V,ACP,ASTRAL CARGO,Kenya,Y,8V,BTT,3417,AKP,6712,NaN,0,CNC,Bettles Airport,United States,Anaktuvuk Pass Airport,United States
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60807,5439,Widerøe,\N,WF,WIF,WIDEROE,Norway,Y,WF,HFT,4325,HVG,4326,NaN,0,DH1 DH2,Hammerfest Airport,Norway,Valan Airport,Norway
60808,5439,Widerøe,\N,WF,WIF,WIDEROE,Norway,Y,WF,MEH,4327,HVG,4326,NaN,0,DH2 DH1,Mehamn Airport,Norway,Valan Airport,Norway
60809,19582,Air Serbia,\N,JU,ASL,AIR SERBIA,Serbia,Y,JU,BBO,1122,BSA,5686,NaN,0,AN4,Berbera Airport,Somalia,Bosaso Airport,Somalia
60810,19582,Air Serbia,\N,JU,ASL,AIR SERBIA,Serbia,Y,JU,GLK,5688,BSA,5686,NaN,0,AN4,Galcaio Airport,Somalia,Bosaso Airport,Somalia
60811,19582,Air Serbia,\N,JU,ASL,AIR SERBIA,Serbia,Y,JU,BSA,5686,GLK,5688,NaN,0,AN4,Bosaso Airport,Somalia,Galcaio Airport,Somalia

In [7]:
airline_route_data = pd.DataFrame({'Airline_Name':combined_airline_routes_airports_all['Name'],
                                           'Airline_Code':combined_airline_routes_airports_all['Airline'],
                                           'Departure_Airport':combined_airline_routes_airports_all['Source Airport Name'],
                                           'Departure_Airport_Code': combined_airline_routes_airports_all['Source airport'],
                                           'Departure_Country':combined_airline_routes_airports_all['Source Country'],
                                           'Destination_Airport':combined_airline_routes_airports_all['Destination Airport Name'],
                                           'Destination_Airport_Code': combined_airline_routes_airports_all['Destination airport'],
                                           'Destination_Country':combined_airline_routes_airports_all['Destination Country']})

airline_route_data

,Airline_Name,Airline_Code,Departure_Airport,Departure_Airport_Code,Departure_Country,Destination_Airport,Destination_Airport_Code,Destination_Country
0,40-Mile Air,Q5,Fairbanks International Airport,FAI,United States,Healy River Airport,HKB,United States
1,Astral Aviation,8V,Fairbanks International Airport,FAI,United States,Allakaket Airport,AET,United States
2,Astral Aviation,8V,Bettles Airport,BTT,United States,Allakaket Airport,AET,United States
3,Astral Aviation,8V,Fairbanks International Airport,FAI,United States,Anaktuvuk Pass Airport,AKP,United States
4,Astral Aviation,8V,Bettles Airport,BTT,United States,Anaktuvuk Pass Airport,AKP,United States
...,...,...,...,...,...,...,...,...
60807,Widerøe,WF,Hammerfest Airport,HFT,Norway,Valan Airport,HVG,Norway
60808,Widerøe,WF,Mehamn Airport,MEH,Norway,Valan Airport,HVG,Norway
60809,Air Serbia,JU,Berbera Airport,BBO,Somalia,Bosaso Airport,BSA,Somalia
60810,Air Serbia,JU,Galcaio Airport,GLK,Somalia,Bosaso Airport,BSA,Somalia
60811,Air Serbia,JU,Bosaso Airport,BSA,Somalia,Galcaio Airport,GLK,Somalia

### Connect to local database

In [8]:
rds_connection_string = "postgres:postgres@localhost:5432/airline_db"
engine = create_engine(f'postgresql://{rds_connection_string}')

In [11]:
engine.table_names()

['airline_route_data']

In [13]:
airline_route_data.to_sql(name='airline_route_data', con=engine, if_exists='append', index=False)

In [14]:
pd.read_sql_query('select * from airline_route_data', con=engine).head()

,Airline_Name,Airline_Code,Departure_Airport,Departure_Airport_Code,Departure_Country,Destination_Airport,Destination_Airport_Code,Destination_Country
0,40-Mile Air,Q5,Fairbanks International Airport,FAI,United States,Healy River Airport,HKB,United States
1,Astral Aviation,8V,Fairbanks International Airport,FAI,United States,Allakaket Airport,AET,United States
2,Astral Aviation,8V,Bettles Airport,BTT,United States,Allakaket Airport,AET,United States
3,Astral Aviation,8V,Fairbanks International Airport,FAI,United States,Anaktuvuk Pass Airport,AKP,United States
4,Astral Aviation,8V,Bettles Airport,BTT,United States,Anaktuvuk Pass Airport,AKP,United States