In [20]:
import pandas as pd
from sqlalchemy import create_engine
from Config2 import user,password

In [21]:
corona_file = "C:\\Users\\samantha.ettinger\\full_data.csv"
corona_data_df = pd.read_csv(corona_file)
corona_data_df.head()

        date     location  new_cases  new_deaths  total_cases  total_deaths
0  2/25/2020  Afghanistan        NaN         NaN            1           NaN
1  2/26/2020  Afghanistan        0.0         NaN            1           NaN
2  2/27/2020  Afghanistan        0.0         NaN            1           NaN
3  2/28/2020  Afghanistan        0.0         NaN            1           NaN
4  2/29/2020  Afghanistan        0.0         NaN            1           NaN

In [22]:
import numpy as np
df1 = corona_data_df.replace(np.NaN, '', regex=True)

In [23]:
print(df1)

           date     location new_cases new_deaths  total_cases total_deaths
0     2/25/2020  Afghanistan                                 1
1     2/26/2020  Afghanistan         0                       1
2     2/27/2020  Afghanistan         0                       1
3     2/28/2020  Afghanistan         0                       1
4     2/29/2020  Afghanistan         0                       1
...         ...          ...       ...        ...          ...          ...
2265   3/9/2020    Worldwide      3979        224       109577         3809
2266  3/10/2020    Worldwide      4119        201       113702         4012
2267  3/11/2020    Worldwide      4611        275       118319         4292
2268  3/12/2020    Worldwide      6936        317       125260         4613
2269  3/13/2020    Worldwide      7488        338       132758         4955

[2270 rows x 6 columns]

In [24]:
rds_connection_string = f"{user}:{password}@localhost:5432/corona_db"
engine = create_engine(f'postgresql://{rds_connection_string}')

In [25]:
engine.table_names()

[]

In [27]:
df1.to_sql(name='corona', con=engine, if_exists='append', index=False)